
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <ul>
        <li><a asp-area="" asp-controller="DataAccess" asp-action="GetAllData">Get All Data</a></li>
        <li><a asp-area="" asp-controller="DataAccess" asp-action="ClearDatabase">Clear Database</a></li>
    </ul>
</div>
<img src="~/images/banner1.svg" />